body {
    margin: 0;
    min-width: 1170px;
    font-family: "Core Sans E", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4c4c4c;
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-position: top center;
  }
  
  .visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  
  .container {
    width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .main-header {
    display: flex;
    align-items: center;
    padding-top: 30px;
  }
  
  .main-header-text {
    margin-left: auto;
    font-size: 18px;
    letter-spacing: 13px;
    color: #ffffff;
    font-weight: normal;
  }
  
  .main-header-phone {
    margin-left: auto;
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
  }
  
  .promo {
    padding-top: 105px;
    padding-bottom: 245px;
  }
  
  .promo-title {
    width: 525px;
    margin: 50px 0 0 -5px;
    font-family: "Besom", "Arial", sans-serif;
    font-weight: normal;
    font-size: 180px;
    line-height: 90px;
    letter-spacing: 9px;
    color: #ff0000;
  }
  
  .promo-subtitle {
    font-family: "Core Sans E", "Arial", sans-serif;
    font-weight: 900;
    font-size: 68px;
    letter-spacing: 3px;
    color: #ffffff;
    text-transform: uppercase;
    margin-left: 10px;
  }
  
  .day-wrapper {
    display: flex;
    margin-bottom: 65px;
  }
  
  .day-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  
    list-style: none;
  
    width: 205px;
    padding: 0;
    margin: 35px 30px 0 10px;
  
    background-image: url("../img/bg-days.png");
    background-position: left center;
    background-repeat: no-repeat;
  }
  
  .day-item {
    width: 36px;
    height: 36px;
    margin-right: 46px;
    font-weight: 900;
    font-size: 14.4px;
    line-height: 36px;
    color: #1b1916;
    text-transform: uppercase;
    text-align: center;
  }
  
  .day-item:nth-child(3n) {
    margin-right: 0;
  }
  
  .promo-text {
    width: 80px;
    margin: 40px 0 0 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    font-style: italic;
    color: #ffffff;
  }
  
  .button {
    display: inline-block;
    min-width: 305px;
    padding: 20px 10px 30px;
    font-family: inherit;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background-image: url("../img/bg-button.png");
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .summary {
    padding-top: 150px;
    padding-bottom: 80px;
  }
  
  .section-title {
    margin: 0;
    color: #ff0000;
    font-size: 68px;
    line-height: 72px;
    letter-spacing: 3px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
  }
  
  .section-description {
    margin: -132px 0 0 0;
    color: rgba(50, 56, 63, 0.1);
    font-size: 180px;
    line-height: 215px;
    letter-spacing: 9px;
    font-family: "Besom", "Arial", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
  }
  
  .summary-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 33px 0 0 0;
    margin: 20px 0 0 0;
    background-image: url("../img/map.png");
    background-position: top left 145px;
    background-repeat: no-repeat;
  }
  
  .summary-item {
    display: flex;
    align-items: center;
    color: #4c4c4c;
  }
  
  .summary-item:nth-child(2n) {
    align-self: flex-end;
  }
  
  .summary-item-wrapper {
    width: 300px;
  }

  .summary-item::before {
    content: "";
    width: 400px;
    height: 400px;
    
    background-image: url("../img/photo1.png");
    background-position: top left;
    background-repeat: no-repeat;
  }
  
  .summary-item:nth-child(2)::before {
    background-image: url("../img/photo2.png");
  }
  
  .summary-item:nth-child(3)::before {
    background-image: url("../img/photo3.png");
  }
  
  .summary-item:nth-child(4)::before {
    background-image: url("../img/photo4.png");
  }
  
  .summary-item-title {
    margin: 0 0 15px;
    padding: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }
  
  .summary-item-text {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
  }
  .summary-item:not(:first-child) {
    margin-top: -150px;
  }

  .features {
    padding-top: 198px;
    
    background-image: url("../img/bg-dark.png");
    background-position: top center;
    background-repeat: no-repeat;
  }